.title{
    width: 40%;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid darkgray;
    padding-bottom: 5px;
}
.container{
    margin-top:10%;
}
.input{

    height:20px ;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
ul li{
    list-style: none;
}
.label{
    font-size: 22px;
    font-family: 宋体;

    width: 40px;
    height: 20px;
    line-height: 30px;
    text-align: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.select{
    text-align: left;
}
.form{
    margin: auto;
    text-align: center;
    padding-right: 80px;
}
.advice{
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
#btn_login{
    font-size: 14px;
    font-family: 宋体;

    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: white;
    border-radius: 6px;
    border: 0;
    margin-left:45%;
    float: left
}
a:hover{
    color: red;
}
.add
{
    width: 128px; height: 44px; margin: auto; display: inline-block; cursor: pointer; margin-left: 20px;
}
.phoKey{
    letter-spacing: 3px; font-size:18px;
}
.access{
    margin-left: 30%;

}